*.db3
Bin/sys_data
..!Bin/sys_data
*.cpp.bak
*.obj
*.ipch
*.opendb
*.db
*.suo
*.pdb

*.APS
*.bak

*.tlog


SLT_Handler/SLT_MC/Debug/
SLT_Handler/SLT_MC/PACKAGES/
SLT_Handler/Dll_Src/LIB_UTIL/LIB_UTIL/Debug/
SLT_Handler/Dll_Src/LIB_UDP/LIB_UDP/Debug/
SLT_Handler/Dll_Src/LIB_SANKYO/LIB_SANKYO/Debug/
SLT_Handler/Dll_Src/LIB_REGULATOR/LIB_REGULATOR/Debug/
SLT_Handler/Dll_Src/LIB_OEE/LIB_OEE/Debug
SLT_Handler/Dll_Src/LIB_MC/LIB_MC/Debug
SLT_Handler/Dll_Src/LIB_LOG/LogLib/Debug
SLT_Handler/Dll_Src/LIB_IPC_TCP/LIB_IPC_SOCK/Debug
SLT_Handler/Dll_Src/LIB_GUI/LIB_GUI/Debug
SLT_Handler/Dll_Src/LIB_FTP/LIB_FTP/Debug
SLT_Handler/Dll_Src/LIB_DB_LS/LIB_DB_LS/Debug
SLT_Handler/Dll_Src/LIB_DATA_MEM/LIB_DATA_MEM/Debug
SLT_Handler/Dll_Src/LIB_CommCtrl/LIB_CommCtrl/Debug
SLT_Handler/Dll_Src/LIB_COK_FILE/LIB_COK_FILE/Debug
SLT_Handler/Dll_Src/LIB_AABRetest_Rule_Check/LIB_AABRetest_Rule_Check/Debug


SLT_Handler/SLT/Debug/

SLT_Handler/SLT_MC/packages.config


SLT_Handler/Include/ADC/caio.dll
SLT_Handler/Include/GPIB/GPIBI32.dll
SLT_Handler/Include/MMC/MMCWFP50.dll
SLT_Handler/Include/MMC/MMCWHP201.dll
SLT_Handler/Include/MMC/MMCWHP220.dll

/SLT_Handler/Dll_Src/LIB_BBXMNP/LIB_BBXMNP/Debug
/SLT_Handler/SLT_MC/.vs/SLT_MC/FileContentIndex
/SLT_Handler/SLT_MC/.vs/SLT_MC/v17/TestStore/0
/SLT_Handler/SLT_MC/.vs/SLT_MC/v17
/.vs

Bin/SLT_MC_D.exe
Bin/sys_data/DATA_MEM/DM_FEEDER.map
Bin/sys_data/HandlerRecipe/SLT_PGM/Marlin/DefaultBin.csv

Bin/LIB_BBXMNP_D.dll
Bin/LIB_COK_FILE_D.dll
Bin/LIB_CommCtrl_D.dll
Bin/LIB_DATA_MEM_D.dll
Bin/LIB_DB_LS_D.dll
Bin/LIB_GUI_D.dll
Bin/LIB_IPC_SOCK_D.dll
Bin/LIB_MC_D.dll
Bin/LIB_REGULATOR_D.dll
Bin/LIB_SANKYO_D.dll
Bin/LIB_UTIL_D.dll
Bin/LogLib_D.dll

SLT_Handler/LibFiles/LIB_IPC_SOCK_D.lib
SLT_Handler/LibFiles/LIB_MC_D.lib
SLT_Handler/LibFiles/LIB_REGULATOR_D.lib
SLT_Handler/LibFiles/LIB_SANKYO_D.lib
SLT_Handler/LibFiles/LIB_UTIL_D.lib
SLT_Handler/LibFiles/LogLib_D.lib
SLT_Handler/LibFiles/LIB_BBXMNP_D.lib
SLT_Handler/LibFiles/LIB_COK_FILE_D.lib
SLT_Handler/LibFiles/LIB_CommCtrl_D.lib
SLT_Handler/LibFiles/LIB_DATA_MEM_D.lib
SLT_Handler/LibFiles/LIB_DB_LS_D.lib
SLT_Handler/LibFiles/LIB_GUI_D.lib

Bin/sys_data_back/accesslevel.dat
Bin/sys_data_back/accesslevel_1.dat
Bin/sys_data_back/BakCurrent.dat
Bin/sys_data_back/BakFirst.dat
Bin/sys_data_back/BakLast.dat
Bin/sys_data_back/EvtMsg_Eng.msg
Bin/sys_data_back/FILE_PATH.INI
Bin/sys_data_back/FTP_PATH.ini
Bin/sys_data_back/Ftp_SysParam.dat
Bin/sys_data_back/HW_Design_Dimensions.ini
Bin/sys_data_back/PickerHeightCal.ini
Bin/sys_data_back/PickerZAxisMotor.ini
Bin/sys_data_back/SignalTower.ini
Bin/sys_data_back/SLT_SYSTEM.INI
Bin/sys_data_back/sqlite3.exe
Bin/sys_data_back/System_Param.dat
Bin/sys_data_back/SystemOption.ini
Bin/sys_data_back/TBL_DIO.sql
Bin/sys_data_back/TBL_ERROR_MSG.sql
Bin/sys_data_back/TrayAssign.dat
Bin/sys_data_back/TrayPpOffSet.dat
Bin/sys_data_back/TW_LS_DRIVER.INI
Bin/sys_data_back/TW_LS_SETUPLIST.INI
Bin/sys_data_back/UnitIndex.ini
Bin/sys_data_back/VAT_Info.ini
Bin/sys_data_back/DATA_MEM/DM_2DID_LIST.map
Bin/sys_data_back/DATA_MEM/DM_COK.map
Bin/sys_data_back/DATA_MEM/DM_CONVEYOR.map
Bin/sys_data_back/DATA_MEM/DM_EQP.map
Bin/sys_data_back/DATA_MEM/DM_EX_STACKER.map
Bin/sys_data_back/DATA_MEM/DM_FEEDER.map
Bin/sys_data_back/DATA_MEM/DM_HANDLER_OPT.map
Bin/sys_data_back/DATA_MEM/DM_LOAD_TABLE.map
Bin/sys_data_back/DATA_MEM/DM_PRESS_UNIT_DN.map
Bin/sys_data_back/DATA_MEM/DM_PRESS_UNIT_UP.map
Bin/sys_data_back/DATA_MEM/DM_STACKER.map
Bin/sys_data_back/DATA_MEM/DM_STACKER_EV.map
Bin/sys_data_back/DATA_MEM/DM_TEST_PP.map
Bin/sys_data_back/DATA_MEM/DM_TRANSFER.map
Bin/sys_data_back/DATA_MEM/DM_TRAY_PP.map
Bin/sys_data_back/DATA_MEM/SLT_DEVICE_DATA_MEM.map
Bin/sys_data_back/DATA_MEM/TWDISIM.map
Bin/sys_data_back/DATA_MEM/TWDOSIM.map
Bin/sys_data_back/HandlerRecipe/Category/.csv
Bin/sys_data_back/HandlerRecipe/Category/2G_Bin.csv
Bin/sys_data_back/HandlerRecipe/Category/2GB_2Setplate.csv
Bin/sys_data_back/HandlerRecipe/Category/2Tray_PF.csv
Bin/sys_data_back/HandlerRecipe/Category/Online.csv
Bin/sys_data_back/HandlerRecipe/Category/Pass.csv
Bin/sys_data_back/HandlerRecipe/Category/Test.csv
Bin/sys_data_back/HandlerRecipe/Category/Test1.csv
Bin/sys_data_back/HandlerRecipe/SLT_PGM/DefaultBin.csv
Bin/sys_data_back/HandlerRecipe/SLT_PGM/Test.dat
Bin/sys_data_back/HandlerRecipe/SLT_PGM/Marlin/DefaultBin.csv
Bin/sys_data_back/HandlerRecipe/SLT_PGM/Test/DefaultBin.csv
Bin/sys_data_back/HandlerRecipe/SLT_PGM/Test/Tester.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/BasicAction.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Teaching.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/UserOffSet.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/64para/Teaching.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/64para/UserOffSetTestPp_MP.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/64para/VAT_PackageInfo.ini
Bin/sys_data_back/HandlerRecipe/TrayFiles/78FBGA_9/Teaching.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/78FBGA_9/UserOffSetTestPp_MP.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/78FBGA_9X10.5/BasicAction.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/78FBGA_9X10.5/CokInfo.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/78FBGA_9X10.5/Teaching.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/78FBGA_9X10.5/UserOffSet.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/78FBGA_9X10.5/UserOffSetTestPp_MP.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/78FBGA_9X10.5/VAT_PackageInfo.ini
Bin/sys_data_back/HandlerRecipe/TrayFiles/78FBGA_9X10.5/VisionAT.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo/BasicAction.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo/CokInfo.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo/Teaching.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo/UserOffSet.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo/UserOffSetTestPp_MP.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo_Ver/BasicAction.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo_Ver/CokInfo.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo_Ver/Teaching.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo_Ver/UserOffSet.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo_Ver/UserOffSetTestPp_MP.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo_Ver/VisionAT.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo_Ver_40pitch/BasicAction.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo_Ver_40pitch/CokInfo.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo_Ver_40pitch/Teaching.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo_Ver_40pitch/UserOffSet.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo_Ver_40pitch/UserOffSetTestPp_MP.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Galileo_Ver_40pitch/VisionAT.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Gaus_Hor/BasicAction.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Gaus_Hor/CokInfo.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Gaus_Hor/Teaching.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Gaus_Hor/UserOffSet.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Gaus_Hor/VisionAT.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Lowland_5x5/BasicAction.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Lowland_5x5/CokInfo.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Lowland_5x5/Teaching.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Lowland_5x5/UserOffSetTestPp_MP.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Mach5/BasicAction.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Mach5/CokInfo.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Mach5/Teaching.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Mach5/UserOffSet.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Mach5/VisionAT.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Marlin/BasicAction.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Marlin/CokInfo.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Marlin/Teaching.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Marlin/UserOffSet.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Marlin/UserOffSetTestPp_MP.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Marlin/VisionAT.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/SIP_7.91x10.61/BasicAction.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/SIP_7.91x10.61/CokInfo.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/SIP_7.91x10.61/Teaching.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/SIP_7.91x10.61/UserOffSet.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/SIP_7.91x10.61/UserOffSetTestPp_MP.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/SIP_7.91x10.61/VisionAT.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Test/BasicAction.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Test/CokInfo.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Test/Teaching.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Test/UserOffSetTestPp_MP.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Thelonious_7.6X7.2/BasicAction.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Thelonious_7.6X7.2/CokInfo.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Thelonious_7.6X7.2/Teaching.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Thelonious_7.6X7.2/UserOffSetTestPp_MP.dat
Bin/sys_data_back/HandlerRecipe/TrayFiles/Thelonious_7.6X7.2/VAT_PackageInfo.ini
SLT_Handler/SLT/RCa08600
SLT_Handler/SLT/RDa08600
SLT_Handler/SLT/SLT.rc.backup
SLT_Handler/SLT_MC/~VCE978.tmp
SLT_Handler/SLT_MC/RDa02828
SLT_Handler/SLT_MC/res/Manu/PressUnit_back .bmp
